/* public/styles.css */
body {
    padding: 20px;
    background-color: #f8f9fa;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    padding: 50px 20px 50px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .section {
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .btn-outline-danger {
    border-color: #ff4444;
    color: #ff4444;
}

body.dark-mode .btn-outline-danger:hover {
    background-color: #ff4444;
    color: #ffffff;
}
